<html>
    <head>
        <title>V Learn</title>
        <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1"> 

    </head>
</html>
<h1 >Hello welocome to the Learning platform</h1>
<ul>
    <li><a href="/profile" id="aa">profile</li>
        <img src="https://media.tenor.com/images/395509bd2d44960be4a096c5b0e9a96e/tenor.gif" width="40px" height="40px">
        <a href="/contect">contect</a>
</ul>